.Naslad{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Next Art';
    color: white;
    width: 1180px;
}

.FirstBlock{
    background-image: url(/public/image/First_Back.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Fever{
    margin-top: 551px;
    margin-bottom: 81px;
    display: flex;
    flex-direction: column;
    gap: 41px;
}
