.PopNaprav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0 100px 0;
}

.loj {
    font-size: 24px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    color: #F2BE22;
    margin-bottom: 8px;
}

.Pravda {
    font-size: 32px;
    font-family: 'Nunito Sans';
    font-weight: 800;
    margin-bottom: 50px;
}

.Cards {
    display: flex;
    gap: 20px;
    margin-top: 50px;
    font-family: 'Nunito Sans';
    margin-bottom: 50px;
}

.Card_O,
.Card_W,
.Card_T {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 380px;
    gap: 328px;
    border-radius: 32px;
}

.Card_O {
    background-image: url(/image/Laguna.webp);
}

.Card_W {
    background-image: url(/image/Nebo_stars.webp);
}

.Card_T {
    background-image: url(/image/Yoga.webp);
}

.Ozero{
    margin-top: 410px;
    padding: 20px 32px 23px;
    color: white;
    background-color: rgba(255, 255, 255, 0.158);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Skoka{
    width: 86px;
    height: 40px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.249);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
}

.Y_gor{
    font-size: 24px;
    font-weight: 700;
}

.Roman{
    font-size: 14px;
    font-weight: 500;
}

.Vpered{
    width: 244px;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #1A3E3E;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}