.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    margin-top: 20px;
    font-family: 'Nunito Sans';
    position: absolute;
}

.Konsul {
    width: 157px;
    height: 44px;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #1A3E3E;
    color: white;
    font-size: 16px;
    font-weight: 600;
}