.Uslug{
    margin-right: 120px;
}

.Slon {
    font-size: 20px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.Spisok{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Stroka {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Progul, .Poseh {
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
}

.Progul{
    color: white;
}

.Poseh{
    color: #F2BE22;
    text-decoration: underline;
}

.Wen{
    display: flex;
    gap: 8px;
}

.New{
    width: 44px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Nunito Sans';
}