.Blog {
    background-color: #F3F5F4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 100px 0;
    width: 100%;
}

.Blogery {
    display: flex;
    max-width: 1180px;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.Delim {
    font-size: 24px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    color: #F2BE22;
    margin-bottom: 8px;
}

.O_Put {
    font-size: 32px;
    font-family: 'Nunito Sans';
    font-weight: 800;
}

.Mat {
    width: 220px;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #1A3E3E;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 50px;
}