.Slon {
    font-size: 20px;
    font-family: 'Nunito Sans';
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}

.Spisok {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Stroka {
    display: flex;
    align-items: center;
    gap: 8px;
}

.Progul{
    font-size: 14px;
    font-family: 'Nunito Sans';
    font-weight: 400;
    color: white;
}
