@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

@font-face {

    font-family: 'Next Art';

    src: url('/public/fonts/NEXT\ ART_Regular.otf');

}

#root{
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}